body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; 
}
.form-container{
    margin-top: 10%;
}
.toaster {
    position: absolute; 
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 15px 20px; 
    border-radius: 5px; 
    z-index: 1000; 
    color: white; 
    display: flex;
    justify-content: center; 
    align-items: center;
    transition: opacity 0.3s; 
  }
  
  .toaster.success {
    background-color: #4caf50; 
  }
  
  .toaster.error {
    background-color: #f44336; 
  }
  .alert {
    color: red;
    font-size: 12px;
  }
  
.main {
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin: 5%;
    left: 52%;
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px; 
}

.field{
    width: 100%; 
    padding: 8px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
  }

.btn {
    padding: 10px 15px;
    margin-top: 10px; 
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
    background-color: #000000; 
    color: white;
}
.alert {
    color: red;
    font-size: 0.9em;
    margin-top: 0.5em;
  }
.btn:hover {
    background-color: #495057; 
}

.a {
    color: #00aaff; 
    text-decoration: none; 
}

.a:hover {
    text-decoration: underline;
}
