<div>
  <div class="form-container">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="main">
      <h2 class="text-center">Forgot Password</h2>
      
      
      <div class="form-group">
        <label for="healthCareNumber">Health Care Number:</label>
        <input
          [(ngModel)]="loginData.healthCareNumber"
          name="healthCareNumber"
          type="text"
          id="healthCareNumber"
          class="field"
          #healthCareNumber="ngModel"
          placeholder="Enter HealthCareNumber"
          minlength="14"
          pattern="^\d{14}$"
          required
        />
        <div class="alert" *ngIf="healthCareNumber.invalid && (healthCareNumber.dirty || healthCareNumber.touched)">
          <div *ngIf="healthCareNumber.errors?.['required']">
            HealthCareNumber is required.
          </div>
          <div *ngIf="healthCareNumber.errors?.['minlength']">
            HealthCareNumber must be at least 14 digits.
          </div>
          <div *ngIf="healthCareNumber.errors?.['pattern']">
            HealthCareNumber must contain only numbers.
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          [(ngModel)]="loginData.email"
          name="email"
          type="email"
          id="email"
          class="field"
          #email="ngModel"
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          required
        />
        <div class="alert" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.errors?.['required']">
            Email is required.
          </div>
          <div *ngIf="email.errors?.['pattern']">
            Please enter a valid email address.
          </div>
        </div>
      </div>

      <!-- OTP Generation Button -->
      <div>
        <button class="btn btn-dark" type="button" [disabled]="loginForm.invalid" (click)="generateOtp()">
          Generate OTP
        </button>
      </div>
    </form>
  </div>
  <router-outlet></router-outlet>
</div>
