<div>
  <h2 class="text-center">Reset Password</h2>
  <form #resetForm="ngForm" (ngSubmit)="onSubmit(resetForm)" class="main">
    <!-- Health Care Number Field -->
    <div class="form-group">
      <label for="healthCareNumber">Health Care Number:</label>
      <input
        [(ngModel)]="resetPasswordData.healthCareNumber"
        name="healthCareNumber"
        type="text"
        id="healthCareNumber"
        class="field"
        #healthCareNumber="ngModel"
        placeholder="Enter HealthCareNumber"
        minlength="14"
        pattern="^\d{14}$"
        required
      />
      <div
        class="alert"
        *ngIf="healthCareNumber.invalid && (healthCareNumber.dirty || healthCareNumber.touched)"
      >
        <div *ngIf="healthCareNumber.errors?.['required']">HealthCareNumber is required.</div>
        <div *ngIf="healthCareNumber.errors?.['minlength']">HealthCareNumber must be at least 14 digits.</div>
        <div *ngIf="healthCareNumber.errors?.['pattern']">HealthCareNumber must contain only numbers.</div>
      </div>
    </div>

    <!-- Email Field -->
    <div class="form-group">
      <label for="email">Email</label>
      <input
        [(ngModel)]="resetPasswordData.email"
        #email="ngModel"
        name="email"
        type="email"
        id="email"
        class="field"
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        required
      />
      <div class="alert" *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors?.['required']">Email is required.</div>
        <div *ngIf="email.errors?.['email']">Invalid email format.</div>
        <div *ngIf="email.errors?.['pattern']">Email is Invalid.</div>
      </div>
    </div>

    <!-- OTP Field -->
    <div class="form-group">
      <label for="otp">OTP:</label>
      <input
        type="text"
        id="otp"
        placeholder="ex: 123456"
        class="field"
        [(ngModel)]="resetPasswordData.otp"
        name="otp"
        #otp="ngModel"
        required
        pattern="^\d{6}$"  
      />
      <div class="alert" *ngIf="otp.invalid && (otp.dirty || otp.touched)">
        <div *ngIf="otp.errors?.['required']">OTP is required.</div>
        <div *ngIf="otp.errors?.['pattern']">OTP must be a 6-digit number.</div>
      </div>
    </div>

    <!-- New Password Field -->
    <div class="form-group">
      <label for="inputPassword3">New Password:</label>
      <input
        type="password"
        id="inputPassword3"
        class="field"
        [(ngModel)]="resetPasswordData.newPassword"
        name="newPassword"
        #newPassword="ngModel"
        required
        minlength="8"
      />
      <div class="alert" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
        <div *ngIf="newPassword.errors?.['required']">New Password is required.</div>
        <div *ngIf="newPassword.errors?.['minlength']">Password must contain at least 8 characters.</div>
      </div>
    </div>

    <!-- Confirm Password Field -->
    <div class="form-group">
      <label for="inputPassword4">Confirm Password:</label>
      <input
        type="password"
        id="inputPassword4"
        class="field"
        [(ngModel)]="resetPasswordData.confirmPassword"
        name="confirmPassword"
        #confirmPassword="ngModel"
        required
        minlength="8"
      />
      <div class="alert" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
        <div *ngIf="confirmPassword.errors?.['required']">Confirm Password is required.</div>
        <div *ngIf="confirmPassword.errors?.['minlength']">Confirm Password must contain at least 8 characters.</div>
        <div *ngIf="resetPasswordData.newPassword !== resetPasswordData.confirmPassword && resetPasswordData.confirmPassword">
          Passwords do not match.
        </div>
      </div>
    </div>

 
    <div>
      <button class="btn" type="submit" [disabled]="resetForm.invalid">Reset Password</button>
    </div>
  </form>

</div>

<router-outlet></router-outlet>
